---
import Layout from "../layouts/Layout.astro";
import Showcase from "../components/Showcase.astro";
import Prices from "../components/Prices.astro";
import Tabs from "../components/Tabs.astro";
import Aboutus from "../components/aboutus.astro";
import Card from "../components/Card.astro";
---

<Layout title="TeFex Cloth Line">
  <Showcase showExtra={true} />
  <Aboutus />
  <section class="container services">
    <h2>Exclusive Services</h2>
    <!-- Tabs -->
    <!-- Add activeTextColor='preferred color' to change the link text color to any preferred color  -->
    <Tabs
      headings={[
        "BRAIDS & TWISTS",
        "HAIR COLOR",
        "HAIR EXTENSION",
        "HAIR CUT",
        "WEAVING",
        "DREAD LOCK",
      ]}
      contents={[
        "Braids & Twists adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo. Consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo.",
        "Hair Color adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo. Consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo.",
        "Hair Extension adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo. Consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo.",
        "Hair Cut adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo. Consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo.",
        "Weaving adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo. Consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo.",
        "Dread Lock adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo. Consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo.",
      ]}
    />
  </section>
  <Prices />
  <section class="container">
    <div class="contact-us">
      <h2 class="hurry">Hurry</h2>
      <h2 class="contact-us-heading">Contact Us</h2>
      <Card dark={true}>
        <h3>Get in Touch</h3>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Dicta ipsum
          deserunt inventore ut voluptate, officia maiores repellat tenetur
          praesentium omnis est ex tempora a necessitatibus reiciendis at et
          dignissimos. Ipsam eius consequuntur cupiditate aperiam porro, esse
          laborum impedit nesciunt ut voluptatum assumenda aspernatur libero
          iusto error molestias dolorum, necessitatibus labore?
        </p>
      </Card>
    </div>
  </section>
</Layout>

<style>
  .services {
    margin-top: 50px;
  }

  .contact-us {
    text-align: center;
    
  }
  .hurry {
    font-family: "Herr Von Muellerhoff", cursive;
    font-size: 70px;
    letter-spacing: 8px;
    font-weight: lighter;
    color: var(--color-secondary);
  }

  .contact-us-heading {
    letter-spacing: 8px;
  }
</style>
